#filter{
    position: relative;
    z-index: 21;
	background-color:#20DC9C;
	padding:0 15px;
}
form *{
    font-size: 1em;
	border:none;
	box-sizing:border-box;
}
.filter-line{
    font-size: 1em;
   // position: relative;
    background: white;
	//border:1px solid white;
	border-radius:5px;
    height:30px;
}
.filter-line .adv-xs{
	height:100%;
	text-align: center;
	line-height:30px;
}
.filter-line button{
    padding:0;
	width:101%;
	height:30px;
	background: none;
}
#filter .dop-filter{
	padding:0 3px 5px 3px;
}
#filter *{
	padding:0;
}
#filter .container{
	padding:5px 0;
}
#filter .input_parent{
    height:100%;
}
#filter input {
    border-radius: 5px;
    padding-left: 15px;
}
#filter .input_parent input{
    font-size:0.9em;
    border-radius:5px;
    outline:none;
    background: white;
    position:absolute;
    top:0;
    left:0;
	width:100%;
	border:none;
	height:100%;
    margin-left:30px;
}
.input_parent input::-webkit-input-placeholder {color:lightgrey;}
#filter .input_parent input.active-input{
    z-index: 15;
}
#filter li{
    height:45px;
}
.select{
    position:relative;
    box-sizing: border-box;
    height:35px;
    font-size: .85em;
}
#filter ul{
    text-align: center;
    border-radius:0 0 5px 5px;
    width:100%;
    overflow:hidden;
    position:absolute;
}
#filter .dop-filter ul{
    padding:5px 0 0 2.5px;

}

#filter #select  .select:nth-child(odd)>ul{
    padding:5px 2.5px 0 0;
}
#filter .dop-filter ul li:first-child{
    border-radius:5px ;
}
#filter .dop-filter ul li:last-child{
    border-radius:0 0 0 5px ;
}
#select{
    transition:width 1s ease;
    height:0;
    display:none;
}
#select.visible{
    height:150px !important;
    display:block;
}
#filter ul:hover{
    z-index: 5;
}
#filter li{
     opacity:0;
     transition:all .6s ease;
     height:30px;
     line-height: 30px;
     background: white;
     width:100%;
     display:none;
     border-bottom:1px solid orange;
 }
#filter  li:first-child{
    opacity:1;
    display:block;
}
#filter ul:hover>li{
    opacity:1;
    display: block;
}
#filter  li:nth-child(2){
border-radius: 5px 5px 0 0 ;
}
#filter li:hover{
    background:rgba(56,79,73,.7);
    color:white;
}
#filter li:first-child:hover{
    background: white;
    color:black;
}

#filter li:first-child{
    width:100%;
    margin-bottom:3px;
   border-bottom:none;
    border-left:1px solid orange;

}
#filter li:last-child{
    border-bottom:none;
}
.dop-filter#select .select{
    border-radius:5px;
}
.dop-filter#select li{
    border-left:none;
}
.dop-filter#select{
    padding:0;
}

.dop-filter#select .select:first-child{

    padding-left: 0;
}
.dop-filter#select .select:last-child{
    padding-right: 0;
}
.dop-filter input{
	border-radius:7px;
    position:relative;
}
/*select{*/
	/*display:none;*/
/*}*/
.adv-xs{
    margin-right:-10px;
    vertical-align: middle;
    z-index: 10;
    cursor:pointer;
    max-width: 50px;
    background: url('/assets/img/set-xs.png') no-repeat 5px center;
}
.adva-wrapp{
    width:120px !important;
    position:relative;
    height:100%;
}
.advanced{
    position:relative;
    left:10%;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}

.advanced:after{
    content:'';
    position: absolute;
    width: 24px;
    height: 26px;
    right:15px;
    top:50%;
    cursor:pointer;
    transform:translateY(-50%);
   background: url('/assets/img/set.png') no-repeat;
    background-size: 23px 23px;
}
.adva-wrapp.border-left{
    border-left:1px solid orange;
}
.btn-wrapp, .adva-wrapp{

    padding:0;
}
.btn-wrapp{
    z-index:15;
    transition:all 2s ease;
    border-radius:5px;
    position:absolute;
    top:0;
    right:0;
    width:50px;
}
.btn-wrapp .icon-search{
border-radius:4px;
background: url('/assets/img/ser.png')no-repeat center center ;
    display:block;
    width:100%;
    height:100%;
    //border-radius:100%;
    //background-size: 43px 43px ;

}
.icon-search:active{
    box-shadow: inset 1px 1px 10px grey;
}
.fifty{
    margin-right:-2px;
    height:100%;
    position:relative;
}
#filter .dop-filter .polz{
    padding-top:5px ;
    height:40px ;
}
.go-xs{
    color:#20DC9C;
}
.visible-direct-inputs{
    position:relative;
    font-size: 1.5em;
}
.visible-direct-inputs span{
    z-index: 16;
    cursor:pointer;
    position:relative;
    top:50%;
   transform:translate(-50%);
    display:inline-block;
    transform:rotateZ(90deg);
    color:#20DC9C;
}
@media (min-width:768px) {
    .visible-direct-inputs{
        position:absolute;

    }
    .visible-direct-inputs span{
        left:5px;
        top:7px;
        position: relative;
        color:#20DC9C;
    }
    #filter .input_parent input{
        margin-left:0;
        font-size:1em;
        padding-left:32px;
    }
    #filter .dop-filter .polz{
        padding:5px 0 0 0;
        height:45px ;
    }
    #filter .dop-filter .polz1{
        padding-left:10px;
    }
    .filter-line{
        height:45px;
    }
    .filter-line .adv-xs{
        line-height:45px;
    }
    .filter-line button{
        height:45px;
    }

    #filter .dop-filter ul{
        padding:5px 0 0 10px;

    }
    #filter li{
        height:45px;
        line-height: 45px;
    }
    .select{
        height:50px;
        font-size: 1em;
    }
    #filter #select  .select:nth-child(odd)>ul{
        padding:5px 0 0 10px;
    }
    #filter{
        transition:position 2s ease;
    }
    #filter #select .select:first-child ul{
        padding-left:0;
    }
    .btn-wrapp {

    }
	.filter-line button{
        outline:none;
		/*background-image: url('../img/search.png') ;*/
	}
    #select.visible{
          height:97px !important;
          display:block
      }
}
@media (max-width:992px){


    .adva-wrapp{
        width:130px !important;
    }
}
#filter li.none{
    width:100%;
    display:none !important;
}
#filter.hh{
    position:fixed ;
    top:0;
    left:50%;
    transform:translateX(-50%);
    z-index: 22;
    width:100%;
}