
body *{
    font-family: Verdana !important;

}
body{
    background: white !important;
}
.descriptionHauzez h1{
    text-align: center;
    border-bottom: 1px solid black;
}

.descriptionHauzez{
    width: 82%;
    margin: 0 auto;
}

.offer, .offers {
    background:orange;
    color:white;
margin:10px auto;
    padding: 0;
    font-size: 46px;
    text-align: center;
}