.position{
   display:none;
   bottom:1%;
    left:1%;
    position:absolute;
    width: 98%;
    background: rgba(0,0,0,.8);
    /*background: white;*/
    text-align: left;
    color:white;
}
.position p{
    font-size:10px;
    margin:0;
}
.position.show{
   display:block;
}