.header h1, ul, li, a, .container{
    padding:0;
}
body{
		position:relative;
        padding:0;
        margin:0;
		}
		.nav-wrapp{
            padding:0;
			position:relative;
            height:130px;
			}
			#wrapp-nav-xs{
				position: relative;
				background: orange;
				height:40px;
			}
    .header span{
       height:40px;
        background-color: orange;
    }
			.navxs{		
			float:right;
				
				position: relative;
				width:24px;
				height:24px; padding:2px;
				top:50%;
				transform:translateY(-50%); 
			}
            .navxs div{
            	border-radius:2px;
            	height:4px;
            	background: white;
            	margin-top:3px;
            }
            .navxs div:first-child{
     	        margin-top:1px;
            }
		.header, .footer{
			text-align:center;
			}
			.header h1{
				height:40px;
				font-size:20px;
		    margin:0;
		    display:inline-block;
			}
    .header a:hover{
        color:orange;
    }

    #active-link:hover{
        color:white;

    }
    .header ul>li>a{
        font-size:1.1rem;
        padding:3px 0;
        color:grey;
        text-decoration:none;
    }

    #active-link{
    border-bottom:2px solid lightblue ;
        border-top:2px solid lightblue ;
        color:white;
        background-color: orange;
    // box-shadow:inset  1px 1px 7px orange, -1px -1px 7px orange;
    }
		.header ul>li{
            transition:all 1s ease-in-out;
		  }


    .view-menu {
        height: 0;
       opacity:0;
    }
    .hide-menu{position:absolute;
        bottom:0;
        right:15px;
        display:block;
        width:15px;
        height:15px;
        border:1px solid rgba(200,15,28,.4);
        border-radius:4px;
        line-height: 15px;
        color:white;
        background:red !important;
        cursor:pointer;
    }

		 @media(min-width:768px){
             .dop-link{
                 position:absolute !important;
             }
             .header ul>li{
                 display:inline-block;
             }
			 .nav-wrapp{
                 text-align: center;
                 opacity:1;
				 height:100%;
			 }

		 	.header>.container, .footer{
                height:70px;
			text-align: left;
			}
             .header span{
                 line-height: 70px;
             }
		 	.header h1{
                line-height: 70px;
                height:100%;
                font-size:40px;
			}
			
		    .header .nav{
		    	 text-align:center;
		    	transform:translateY(25%);
		    

		    }
		    .header ul>li>a{
		    height:100%;
		    border-left: 1px solid orange;
             font-size:1.6rem;
		  }

		  .header ul>li:last-child>a{
 border-right: 1px solid orange;
		  }
		.header a{ 
    font-family:'time new roman';
    font-weight: 500;
    text-align: left;
         padding:12px 8px!important;
         box-sizing: border-box;
         //transition:all .2s ease;
		}
		/*.header a:before {*/
         /*content: '';*/
         /*position: absolute;*/
         /*width: 100%;*/
         /*border-top: 2px solid orange;*/
         /*top: 50%;*/
         /*left: -100%;*/
         /*}*/
/*.header a:after{*/
         /*content: '';*/
         /*position: absolute;*/
         /*width: 100%;*/
         /*border-top: 2px solid orange;*/
         /*top: 50%;*/
         /*right: -100%;*/
        /*}*/



		 #active-link{

             color:white;
             background-color: orange;
             border:none;
		 	border-radius:5px 0 0 5px;
		   // box-shadow:inset  1px 1px 7px orange, -1px -1px 7px orange;
		 }
		 .header span{
             background:none;
             height:100%;
		 text-align:left;
		}
	}
#map{
    height:500px;
}

