
.nav>li{
    vertical-align: top;
    position:inherit;
}
body{
    position:relative;
    font-style: italic;
    background: white !important;
    padding:0;
    margin:0;
		}
		.nav-wrapp{
            padding:0;
			position:relative;
            height:130px;
			}
			#wrapp-nav-xs{
				position: relative;
				background: #E1E1E1;
				height:40px;
			}
    .header .phone{
       height:40px;
        background-color: #E1E1E1;
    }
			.navxs{		
			float:right;
				
				position: relative;
				width:24px;
				height:24px; padding:2px;
				top:50%;
				transform:translateY(-50%); 
			}
            .navxs div{
            	border-radius:2px;
            	height:4px;
            	background: #20DC9C;
            	margin-top:3px;
            }
            .navxs div:first-child{
     	        margin-top:1px;
            }
		.header, .footer{
			text-align:center;
            transition:all 1s ease;
			}
        .footer{
            margin-top:10px;
        }
			.header h1{
				height:40px;
				font-size:20px;
		    margin:0;
		    display:inline-block;
			}
    .header a:hover{
        color:orange;
    }

    #active-link:hover{
        color:white;

    }
    .header ul>li>a{
        font-size:1.1rem;
        padding:3px 0;
        color:grey;
        text-decoration:none;
    }

    #active-link{
    border-bottom:2px solid lightblue ;
        border-top:2px solid lightblue ;
        color:white;
        background:orange;
    // box-shadow:inset  1px 1px 7px #E37525, -1px -1px 7px #E37525;
    }
		.header ul>li{
            transition:all 1s ease-in-out;
		  }


    .view-menu {
        height: 0;
       opacity:0;
    }
    .hide-menu{position:absolute;
        bottom:25px;
        right:15px;
        width:22px;
        height:22px;
        background:url('/assets/img/delete.png') no-repeat center center;
        cursor:pointer;
    }
    .footer{
        background: linear-gradient(#20DC9C,lightgrey);
    }
.dop-link{
    display:none;
}
.dop-link-active{
    display:block
}
		 @media(min-width:768px){
             .header .dop-link li span{
                 color:orange;
             }

              .header .dop-link li:last-child a+span{
                  display:none;
              }
             .dop-link{
                display:none;
                 position:absolute !important;
                // border:1px solid green;
                 top:0;
                 left: 50%;
                 transform: translateX(-50%);
                 transition:all 2s ease;
             }
             .dop-link-active{
                 opacity:1;
                 top:50px;
                 height:35px;
                 display:block;
             }
             .header ul>li{
                 display:inline-block;
             }
			 .nav-wrapp{
                 text-align: center;
                 opacity:1;
				 height:100%;
			 }

		 	.header, .footer{
                height:70px;
			text-align: left;
			}
            .header.height{
                height:100px;
            }
             .header .phone{
                 line-height: 70px;
             }
		 	.header h1{
                line-height: 70px;
                height:100%;
                font-size:40px;
			}
			
		    .header .nav{
		    	 text-align:center;
		    	transform:translateY(25%);
		    

		    }
		    .header ul>li>a{
		    height:100%;
		    border-left: 1px solid orange;
             font-size:1.6rem;
		  }

		  .header ul>li:last-child>a{
 border-right: 1px solid orange;
		  }
		.header a{ 
    font-family:'time new roman';
    font-weight: 500;
    text-align: left;
         padding:12px 8px!important;
         box-sizing: border-box;
         //transition:all .2s ease;
		}
		/*.header a:before {*/
         /*content: '';*/
         /*position: absolute;*/
         /*width: 100%;*/
         /*border-top: 2px solid orange;*/
         /*top: 50%;*/
         /*left: -100%;*/
         /*}*/
/*.header a:after{*/
         /*content: '';*/
         /*position: absolute;*/
         /*width: 100%;*/
         /*border-top: 2px solid orange;*/
         /*top: 50%;*/
         /*right: -100%;*/
        /*}*/



		 #active-link{

             color:white;
             background-color: orange;
             border:none;
		 	border-radius:5px 0 0 5px;
		   // box-shadow:inset  1px 1px 7px orange, -1px -1px 7px orange;
		 }
		 .header .phone{
             font-size: 0.75em;
             background:none;
             height:70px;
		 text-align:left;
		}
             .header .phone:before{
                 content:'';
                 display:inline-block;
                 vertical-align: top;
                 cursor:pointer;
                 width:30px;
                 height:70px;
                 background: url('/assets/img/phone.png') no-repeat center center;
             }
             ul.dop-link>li>a{
                 border:none !important;
             }
	}
#map{
    height:500px;
}

